.pageContainer {
    padding: 80px;
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.form {
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 200px;
    border: 1px solid black;
    border-radius: 4px;
    padding: 20px 12px;
    align-items: center;
}

.formBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 8px;
    width: 100px;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.errorMessage {
    color: red;
    text-align: center;
}